@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Funnel+Display:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-colour: white;
  --background-colour-hover: #a1a09a;
  --content-background-colour: #f5f2f2;
  --grad-colour-1: #c0caad;
  --grad-colour-2: #74afad;
  --text-colour: #3c4c77;
  --highlight-colour: #e28743;
  --default-font: "Funnel Display", sans-serif;
  --green-colour: #31cf6e; /* fixed typo from --green-colur */
}

body {
  background: var(--background-colour);
  height: 100vh;
  width: 100vw;
  font-family: var(--default-font);
  display: flex;
  flex-direction: column;
  color: var(--text-colour);
}

header {
  color: var(--text-colour);
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  width: 100vw;
}

.dividerLine {
  border-bottom: 3px solid;
  border-image: linear-gradient(
      to left,
      var(--grad-colour-1),
      var(--grad-colour-2)
    )
    1;
}
.viewContainer .dividerLine {
  width: 70%;
  height: 1px;
  border: none;
  margin-top: 0.3rem;
  background: var(--text-colour);
}
.contentContainer {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(300px, 8%) 1fr;
  height: 100%;
}

.sidebar {
  border-right: 2.5px solid var(--grad-colour-2);
}

.sidebarElementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(18px, 1.1rem, 40px);
  padding-top: 50px;
}

.addNewItem {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15% 0;
  width: 100%;
  font-size: clamp(15px, 19px, 28px);
}

.addNewItem span {
  margin-right: 10px;
}

.addNewItem:hover {
  background-color: var(--background-colour-hover);
  cursor: pointer;
  color: var(--background-colour);
}

.addNewItem:hover .plus {
  fill: var(--background-colour-hover);
  stroke: var(--background-colour);
}

.plus {
  width: 14%;
  stroke: var(--text-colour);
}

.viewContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: clamp(10px, 18px, 24px);
  text-align: center;
}

.viewContainer svg {
  width: 12%;
  stroke: var(--text-colour);
}

.sidebar svg {
  min-width: 16px;
  margin-left: clamp(5px, 2%, 80px);
  height: auto;
}

.projCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
}

.projButton {
  padding: 15% 0;
  width: 100%;
  text-align: center;
  font-size: clamp(15px, 20px, 28px);
}

.projButton:hover {
  background-color: var(--background-colour-hover);
  cursor: pointer;
  color: var(--background-colour);
}

.informationContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-colour);
  width: 100%;
  max-width: 100%;
  padding: clamp(30px, 1%, 2%) clamp(30px, 2%, 3%);
  gap: clamp(20px, 1.2%, 2%);
}

.newTaskForm,
.newProjectForm,
.toDoSummary,
.projectCell,
.projectBasicView,
.addProjDiv,
.projectNoDisplay,
.taskCell {
  width: 100%;
  border-radius: 2rem;
  padding: 23px 30px;
  font-size: clamp(12px, 18px, 50px);
  box-shadow: -2px 0 7px rgba(0, 0, 0, 0.123);
  border: 1px solid var(--text-colour);
  background-color: var(--background-colour);
}

.navHeader {
  font-size: clamp(12px, 18px, 29px);
  padding-left: 25px;
}

.navHeader .navLink:last-of-type {
  cursor: default;
  text-decoration: none;
}

.projectListTitle {
  width: 100%;
  padding: 23px 75px;
  font-size: clamp(12px, 22rem, 28px);
  margin: 20px auto;
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  border-bottom: 2px solid var(--highlight-colour);
  border-top: 2px solid var(--highlight-colour);
}

.projectNoDisplay,
.addProjDiv {
  font-size: clamp(18px, 30px, 40px);
  font-weight: none;
  border: none;
  padding-left: clamp(7px, 0.2%, 1%);
}

.addProjDiv button {
  font-size: 35px;
  padding: clamp(14px, 1%, 30px);
}

.navHeader,
.projectNoDisplay,
.addProjDiv {
  border: none;
  background-color: var(--content-background-colour);
  box-shadow: none;
  margin-bottom: 0px;
}

.navLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.toDoSummary {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid var(--text-colour);
  color: white;
  background-image: linear-gradient(
    to left,
    var(--grad-colour-1),
    var(--grad-colour-2) 85%
  );
  font-size: 25px;
}

.projectBasicView {
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
}

.projectBasicView:hover {
  cursor: pointer;
  background-color: var(--background-colour-hover);
}

.projectHeader,
.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: clamp(12px, 28px, 45px);
  margin-bottom: clamp(8px, 1%, 12px);
  font-weight: bold;
}

button {
  background: var(--text-colour);
  border: 1px solid white;
  border-radius: 2rem;
  padding: 7px 15px;
  font-size: clamp(8px, 18px, 40px);
  font-family: var(--default-font);
  color: var(--background-colour);
  font-weight: 400;
}

button:hover {
  cursor: pointer;
  background-color: var(--background-colour-hover);
}

.deleteButton {
  color: white;
  border: 1px solid white;
  background-color: rgb(243, 83, 83);
}

.buttonArea {
  display: flex;
  gap: 0.5rem;
}

.taskRow > .buttonArea {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(8px, 13px, 30px);
  justify-content: center;
}

.projectDetailsDiv,
.taskDetails {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dueDateText {
  color: red;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.taskRow {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 2fr 2fr;
  border-bottom: 2px solid var(--text-colour);
  padding: clamp(5px, 8px, 20px) 0px;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: clamp(14px, 22px, 38px);
}

.taskRow.header {
  border-bottom: 1px solid var(--text-colour);
  font-size: clamp(14px, 22px, 38px);
  font-weight: bold;
}

select,
option {
  color: var(--text-colour);
}

.markComplete {
  background-color: var(--green-colour);
}

.projectOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.projectDescription {
  margin-bottom: 18px;
}

.inputCluster {
  display: flex;
  flex-direction: column;
}

.inputCluster:last-of-type {
  margin-bottom: 10px;
}

label {
  margin-top: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

input,
select,
textarea {
  width: 100%;
  background-color: rgb(239, 243, 247);
  border: 1px solid var(--text-colour);
  border-radius: 0.5rem;
  padding: 5px;
}

#taskDescInput,
#projectDescInput {
  height: 250px;
  vertical-align: top;
  text-align: left;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formWrapper button {
  margin-bottom: 1%;
}
.newTaskForm,
.newProjectForm {
  padding: 0.5% 15%;
}

.taskRow > *,
.taskRow.header > * {
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  padding: 0 0.5rem;
}

.taskRow {
  grid-template-columns: minmax(120px, 5fr) minmax(90px, 2fr) minmax(
      90px,
      2fr
    ) minmax(90px, 2fr) minmax(120px, 1.5fr);
}

.buttonAreaForm {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
